/* #Standard
================================================== */
body {
	font-family: Arial;
	margin:0;
}

section, footer, aside, article, main, div, nav, header {
	margin-top:.25em;
	margin-bottom: .25em;
	margin-left:0;
	margin-right:0;
	display:inline-block;
	width:100%;
	box-sizing:border-box;
}

main {
	width:62%;
	padding-left:1em;
	border-right: 2px solid black;
}
article {
	width: 100%%;
}

article div+div {
	padding-top:1em;
}

aside {
	width:36%;
	float:right;
}
.sidebar-block {
	padding-left:1em;
}

.sidebar-block div.table {
	width:50%;
	padding-left:.5em;
	padding-right: .5em
}

.sidebar-block table {
	width:100%;
	border-collapse: collapse;
}

.sidebar-block caption {
	text-transform: lowercase;
	font-size:14pt;
	font-weight: bold;
}

.sidebar-block caption:before {
	content: "<";
}

.sidebar-block caption:after {
	content: ">";
}

.sidebar-block td, .sidebar-block th {
	width:50%;
	border: 1px solid black;
	padding:.25em;
}

.sidebar-block th {
	text-align: left;
}

.checkbox {
	padding-left: 1.5em;
	background-size: contain;
	background-position:left;
	background-repeat: no-repeat;
	background-image: url('unchecked.png');
}

.checked, [aria-checked=true] {
	background-image: url('checked.png');
}

/* #Tablet (768-959)
================================================== */
@media screen and (max-device-width: 59.9375em), screen and (max-width: 59.9375em){
	article {
		width:100%;
	}
}

/*  #Mobile (0-767)
================================================== */
@media screen and (max-device-width :47.9375em), screen and (max-width :47.9375em) {
	main {
		width:100%;
		border-right: none;
	}
	
	aside {
		width:100%;
		border-left: none;
		border-top: 2px solid black;
	}

	body, button {
		font-size: 20pt;
	}

	select, option, input[type=text], textarea, input[type=button] {
		font-size: 30pt;
	}
}
