/* #Standard
================================================== */
body {
	margin:0;
}

section, footer, aside, article, main, div, nav, header {
	margin-top:.25em;
	margin-bottom: .25em;
	margin-left:0;
	margin-right:0;
	display:inline-block;
	width:100%;
	box-sizing:border-box;
}

main {
	width:62%;
}
article {
	width: 100%%;
}
aside {
	width:38%;
	float:right;
	border-left: 2px solid black;
}
.sidebar-block {
	padding-left:.45em;
}

.checkbox {
	padding-left: 1.5em;
	background-size: contain;
	background-position:left;
	background-repeat: no-repeat;
	background-image: url('unchecked.png');
}

.checked, [aria-checked=true] {
	background-image: url('checked.png');
}

/* #Tablet (768-959)
================================================== */
@media screen and (max-device-width: 59.9375em), screen and (max-width: 59.9375em){
	article {
		width:100%;
	}
}

/*  #Mobile (0-767)
================================================== */
@media screen and (max-device-width :47.9375em), screen and (max-width :47.9375em) {
	main {
		width:100%;
	}
	aside {
		width:100%;
		border-left: none;
		border-top: 2px solid black;
	}
}
